{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="welcome-container">
    <h2>Добро пожаловать в наше приложение для визуализации данных!</h2>
    <p>Это веб-приложение позволяет вам:</p>
    <ul>
        <li>Строить графы зависимостей для выбранных таблиц.</li>
        <li>Создавать диаграммы Ганта для отслеживания временных интервалов загрузки данных.</li>
        <li>Получать детальную информацию о выбранных таблицах.</li>
    </ul>
    <p>Используйте навигационное меню, чтобы перейти к нужному разделу:</p>
    <ul>
        <li><a href="{{ url_for('show_graph') }}">Граф Зависимостей</a> - для создания и просмотра графов зависимостей.</li>
        <li><a href="{{ url_for('other') }}">Диаграмма Ганта</a> - для создания и просмотра диаграмм Ганта.</li>

    </ul>
    <p>Если у вас есть вопросы или предложения, свяжитесь с нашей командой DWH Team <dwh@ROOT.AD>.</p>
</div>
{% endblock %}