body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

h1, h2 {
  color: #3578e5;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

input {
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 300px;
}

button {
  background-color: #3578e5;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2a62c4;
}

.center {
  text-align: center;
}

.muted {
  color: #666;
}

.error {
  color: red;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  font-size: 14px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #245ca6; /* ������ ����� */
  color: white;
}

tbody td {
  color: black;
}

tr:nth-child(even) {
  background-color: #eef5fd;
}

.monospace {
  font-family: monospace;
}

.container h1 {
  margin-bottom: 20px;
}



.dot-loader:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-loader:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
}


.loading-bar-container {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.loading-bar {
  width: 80%;
  height: 8px;
  background: linear-gradient(90deg, #007bff 25%, #80bdff 50%, #007bff 75%);
  background-size: 200% 100%;
  animation: loading 1.5s linear infinite;
  margin: 0 auto;
  border-radius: 5px;
}

@keyframes loading {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

